. .venv/bin/activate

# https://stackoverflow.com/a/65411355
# $ cat ~/.pydistutils.cfg
# [build_ext]
# include_dirs=/opt/homebrew/opt/portaudio/include/
# library_dirs=/opt/homebrew/opt/portaudio/lib/

brew list portaudio >/dev/null 2>&1 || brew install portaudio

dotenv

# https://beta.openai.com/account/api-keys
env_vars_required OPENAI_API_KEY
